src/wadl/cdn-devguide.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2014 OpenStack Foundation, All Rights Reserved  -->

<!-- <!DOCTYPE application [<!ENTITY % common  SYSTEM "../wadl/common.ent">
    %common;]> -->
    
<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cdn="http://docs.openstack.org/database/api/v1.0"		
	xmlns:imageapi="http://docs.openstack.org/image/api/v2.0" 
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:csapi="http://docs.openstack.org/compute/api/v2" 
	xmlns:common="http://docs.openstack.org/common/api/v1.0">	
	

<!--*******************************************************-->
<!--             All resources                             -->
<!--*******************************************************-->
	<resources base="https://global.cdn.api.rackspacecloud.com/">
		<resource id="version" path="/">
<!--
				<resource id="projectID" path="{project_id}">
				<param name="project_id" style="template" type="xsd:string"> 
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">The unique identifier for the user. If you do not set the 
					X-Project-Id header, use project_id as the first parameter before the request path. 
					For example: GET https://global.cdn.api.rackspacecloud.com/{project_id}/v1.0/ </wadl:doc></param> 
-->
			<method href="#getHomeDocument"/>
			
<!--			<resource id="health" path="health">
			    <method href="#getHealthCheck"/>
				<resource id="subsystem" path="{subsystem}">
					<param name="subsystem" style="template" type="xsd:string"> 
						<wadl:doc 
							xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN"><para>The unique identifier for the user.</para> </wadl:doc>
					</param>
				    <method href="#getHealthDetails"/>				                
				</resource>	
			</resource> -->
			
			<resource id="ping" path="ping"> 	
			    <method href="#getPing"/> 
			</resource>
			   	
			<resource id="services" path="services">
				<method href="#getAllServices"/>
				<method href="#createService"/>
		
<!--				<resource id="service_name" path="{service_name}">
					<param name="service_name" style="template"
						type="xsd:string" required="true">
						<wadl:doc
							xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN"><para>Specifies the name of the service that represents their distributed content. For example: mywebsite.com 
								</para> </wadl:doc>
					</param> -->
				   <resource id="service_id" path="{service_id}">
					<param name="service_id" style="template"
						type="xsd:string" required="true">
						<wadl:doc
							xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN"><para>Specifies the service ID that represents distributed content. The value is a UUID, such as 96737ae3-cfc1-4c72-be88-5d0e7cc9a3f0, that is generated by the server. 
							</para> </wadl:doc>
					</param>
					<method href="#getService"/>
					<method href="#patchService"/>
					<method href="#deleteService"/>
					    <resource id="assets" path="assets">
					        <method href="#getCachedAsset"/>
					    	<method href="#deleteCachedAsset"/>
					    </resource>
					    <resource id="analytics" path="analytics">
						    <method href="#getAssetAnalytics"/>
					    </resource>	
				</resource>
			</resource>
				
			<resource id="flavors" path="flavors">
				<method href="#getFlavors"/>
           <!-- 	<method href="#postFlavors"/> -->
				<resource id="flavor_id" path="{flavor_id}">
					<param name="flavor_id" style="template"
						type="xsd:string" required="true">
						<wadl:doc
							xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN"><para>Specifies the flavor ID. For example: cdn 
							</para> </wadl:doc>
					</param>
					<method href="#getFlavorDetails"/>
			<!--		<method href="#deleteFlavor"/>  -->
			    </resource>
			</resource>
			
			<resource id="logging" path="logging">
				<method href="#getLogging"/>
				<method href="#postLogging"/>
			</resource>		
			</resource>
	</resources>
<!--*******************************************************-->
<!--               All methods                             -->
<!--*******************************************************-->
<!--*******************************************************-->
<!--              Base methods                             -->
<!--*******************************************************-->	
<!--*******************************************************-->
<!--               Get home document                       -->
<!--*******************************************************-->
	<method name="GET" id="getHomeDocument">
		<wadl:doc xml:lang="EN" title="Retrieve the home document"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves the home document.</para>
			
			<para>The entire API is discoverable from a single
				starting point, the home document. To explore the
				entire API, you need to know only this one URI. </para>
			
			<para>The home document schema is currently not ratified in OpenStack and might change. For more information about home documents, see <link
					xlink:href="http://tools.ietf.org/html/draft-nottingham-json-home-03"
				>Home Documents for HTTP APIs</link> on the IEFT website.</para>			
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getHomeDocument_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getHomeDocument_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHomeDocument_response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
<!--*******************************************************-->
<!--      Get health check - moved to Admin WADL           -->
<!--*******************************************************-->
<!--	<method name="GET" id="getHealthCheck">
		<wadl:doc xml:lang="EN" title="Retrieve health check"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves a health check.</para>
			<para>This operation retrieves a health check. </para>			
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getHealthCheck_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthCheck1_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthCheck1_response.json"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthCheck2_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthCheck2_response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="503" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Service Unavailable" xml:lang="EN">The service is temporarily unavailable (for example, for scheduled
				platform maintenance). Try again later.</doc>			
		</response>
	</method>	-->
<!--*******************************************************-->
<!--     Get health details   - moved to Admin WADL        -->
<!--*******************************************************-->
<!--	<method name="GET" id="getHealthDetails">
		<wadl:doc xml:lang="EN" title="Retrieve health details"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves the health details for a subsystem.</para>
			<para>This operation shows whether a subsystem is online or offline. </para>
					
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getHealthDetails_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthDetails1_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthDetails1_response.json"
					/>
					<xsdxt:code
					href="../wadl/samples/cdn-getHealthDetails2_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthDetails2_response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="503" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Service Unavailable" xml:lang="EN">The service is temporarily unavailable (for example, for scheduled
				platform maintenance). Try again later.</doc>			
		</response>
	</method> -->
<!--*******************************************************-->
<!--               Get ping                                -->
<!--*******************************************************-->
	<method name="GET" id="getPing">
		<wadl:doc xml:lang="EN" title="Ping the server"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Pings the server.</para>
			<para>This operation retrieves a ping to the server. </para>
			
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getPing_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="204" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="No Content" xml:lang="EN">The server successfully processed the request, but is not returning any content.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getPing_response-json-http.txt"
					/>
					<!--<xsdxt:code
						href="../wadl/samples/cdn-getPing_response.json"
					/> -->
				</wadl:doc>
			</representation>
		</response>
		<response status="500" xmlns="http://wadl.dev.java.net/2009/02">
			
			<doc title="Internal Server Error" xml:lang="EN">The implementation of ping may return a 500 response in cases where the API service is unable to communicate with one or more implementation nodes for the service. Errors in the transport layer between the client and the API node may produce other errors.</doc>			
			
		</response>
		<response status="503" xmlns="http://wadl.dev.java.net/2009/02">

			<doc title="Service Unavailable" xml:lang="EN">The implementation of ping may return a 503 response in cases where the API service is unable to communicate with one or more implementation nodes for the service. Errors in the transport layer between the client and the API node may produce other errors.</doc>			
			
		</response>
	</method>	
<!--*******************************************************-->
<!--              Services methods                         -->
<!--*******************************************************-->	
<!--*******************************************************-->
<!--               List all services                       -->
<!--*******************************************************-->
	<method name="GET" id="getAllServices">
		<wadl:doc xml:lang="EN" title="Retrieve all services"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves a list of all the services.</para>
			<para>This operation retrieves a list of all available services. </para>			
		</wadl:doc>
		<request>
			<param name="marker" style="query" type="xsd:string"
				required="false">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">Specifies the <code>service_id</code> that represents
				the last service listed.</wadl:doc>
			</param>
			<param name="limit" style="query" type="xsd:integer"
				required="false">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">Specifies the number of resources to list. The default
					maximum limit is 20, but is configurable by the operator.
				</wadl:doc>
			</param>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getAllServices_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success or no services to return when there is an empty list of services.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getAllServices_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getAllServices_response.json"
					/>
				</wadl:doc>
				<param name="id" style="plain" path="$.id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the service ID that represents distributed content. The value is a UUID, such as 96737ae3-cfc1-4c72-be88-5d0e7cc9a3f0, that is generated by the server. </wadl:doc>
				</param>
				<param name="name" style="plain" path="$.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the service.</wadl:doc>
				</param>
				<param name="domains" style="plain" path="$.domains">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a list of domains used by users to access their website.</wadl:doc>
				</param>
				<param name="domain" style="plain" path="$.domains.domain">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the domain used to access the assets on their website, for which a CNAME is given to the CDN provider.</wadl:doc>
				</param>
				<param name="protocol" style="plain" path="$.domains.protocol">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the protocol used to access the assets on this domain. Only <code>http</code> or <code>https</code> are currently allowed. <code>protocol</code> defaults to <code>http</code>.</wadl:doc>
				</param>
				
				<param name="origins" style="plain" path="$.origins">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a list of origin domains or IP addresses where the original assets are stored.</wadl:doc>
				</param>
				<param name="origin" style="plain" path="$.origins.origin">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the URL or IP address to pull origin content from.</wadl:doc>
				</param>
				<param name="port" style="plain" path="$.origins.port">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the port used to access the origin. The default is port 80. Note: Rackspace CDN cannot be used with custom ports. Services are required to run on HTTP (80) and HTTPS (443) for the origin servers. </wadl:doc>
				</param>
				<param name="ssl" style="plain" path="$.origins.ssl">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Uses HTTPS to access the origin. The default is false.</wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.origins.rules">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that define the conditions when this origin should be accessed. If there is more than one origin, the <code>rules</code> parameter is required.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.origins.rules.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule. </wadl:doc>
				</param>
				<param name="request_url" style="plain" path="$.origins.rules.request_url">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the request URL this rule should match for this origin to be used. (Regex is supported.)</wadl:doc>
				</param>
				
				<param name="caching" style="plain" path="$.caching">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the TTL rules for the assets under this service. Supports wildcards for fine grained control.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.caching.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this caching rule. Note: 'default' is a reserved name used for the default TTL setting.</wadl:doc>
				</param>
				<param name="ttl" style="plain" path="$.caching.ttl">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the TTL to apply.</wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.caching.rules">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that determine if this TTL should be applied to an asset.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.caching.rules.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule.</wadl:doc>
				</param>
				<param name="request_url" style="plain" path="$.caching.rules.request_url">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the request URL this rule should match for this TTL to be used. (Regex is supported.)</wadl:doc>
				</param>
				
				<param name="restrictions" style="plain" path="$.restrictions">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the restrictions that define who can access assets (content from the CDN cache).</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.restrictions.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this restriction.</wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.restrictions.rules">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that determine if this TTL should be applied to an asset.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.restrictions.rules.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule.</wadl:doc>
				</param>
				<param name="referrer" style="plain" path="$.restrictions.rules.referrer">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the http host that requests must come from.</wadl:doc>
				</param>				
				
				<!--			<param name="request_url" style="plain" path="$.restrictions.rules.request_url">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the request URL this rule should match for this TTL to be used. (Regex is supported.)</wadl:doc>
				</param>
				<param name="http_host" style="plain" path="$.restrictions.rules.http_host">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the http host that requests must come from.</wadl:doc>
				</param>
				<param name="client_ip" style="plain" path="$.restrictions.rules.client_ip">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the client IP that requests can be accepted from.</wadl:doc>
				</param>
				<param name="http_method" style="plain" path="$.restrictions.rules.http_method">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the HTTP method (GET, PUT, POST, DELETE, PATCH, and so on) that can be accepted.</wadl:doc>
				</param>
-->				
				<param name="flavor_id" style="plain" path="$.flavor_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the CDN provider flavor ID to use. For a list of flavors, see the operation to list the available flavors.</wadl:doc>
				</param>
				
				<param name="status" style="plain" path="$.status">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the current status of the service.</wadl:doc>
				</param>
				<param name="create_in_progress" style="plain" path="$.status.create_in_progress">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies that the service is currently being created and deployed.</wadl:doc>
				</param>
				<param name="deployed" style="plain" path="$.status.deployed">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies that the service has been deployed and is ready to use.</wadl:doc>
				</param>
				<param name="update_in_progress" style="plain" path="$.status.update_in_progress">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies that the service is currently being updated.</wadl:doc>
				</param>
				<param name="delete_in_progress" style="plain" path="$.status.delete_in_progress">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies that the service is currently being deleted.</wadl:doc>
				</param>
				<param name="failed" style="plain" path="$.status.failed">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies that the previous operation on the service failed to create, deploy, update, or delete. Looks for the errors[] for details.</wadl:doc>
				</param>
				
				<param name="errors" style="plain" path="$.errors">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the list of errors that occurred during the previous service action.</wadl:doc>
				</param>
				<param name="message" style="plain" path="$.errors.message">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies an error message detailing why there is an error. </wadl:doc>
				</param>
				
				<param name="links" style="plain" path="$.links">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the self-navigating JSON document paths.</wadl:doc>
				</param>
				<param name="href" style="plain" path="$.links.href">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the location to access this resource. </wadl:doc>
				</param>
				<param name="rel" style="plain" path="$.links.rel">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies how the href link provided is related to this resource_url.</wadl:doc>
				</param>
			</representation>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid limit value (string, less than or equal to 0, 1000000000), or the limit value is greater than the maximum allowed (which defaults to 20).</doc>			
		</response>
	</method>
	<!--*******************************************************-->
	<!--               Create a service                        -->
	<!--*******************************************************-->
	<method name="POST" id="createService">
		<wadl:doc xml:lang="EN" title="Create a service"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Creates a service.</para>
		
            <para>To create a new service, provide a JSON body for the new service with the required attributes.</para>
			<note><para><code>service_id</code>, which is used in several of the services operations, is returned in the response to create a service. Take note this value. You can also retrieve <code>service_id</code> using <link
				xlink:href="http://docs.rackspace.com/cdn/api/v1.0/cdn-devguide/content/GET_getService__services__service_id__servicesOperations.html">List a service</link>.</para> </note>			
		</wadl:doc>
		<request>			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-createService_request-json-http.txt"/>
					<xsdxt:code href="../wadl/samples/cdn-createService_request.json"/>
				</doc>
				<param name="name" style="plain" path="$.name"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the service. The minimum length for <code>name</code> is 3. The maximum length is 256.</wadl:doc>
				</param>
				<param name="domains" style="plain" path="$.domains"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a list of domains used by users to access their website.</wadl:doc>
				</param>
				<param name="domain" style="plain" path="$.domains.domain"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the domain used to access the assets on the website, for which a CNAME is given to the CDN provider. The minimum length for <code>domain</code> is 3. The maximum length is 253.</wadl:doc>
				</param>
				<param name="protocol" style="plain" path="$.domains.protocol"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the protocol used to access the assets on this domain. Only <code>http</code> or <code>https</code> are currently allowed. The default <code>protocol</code> is <code>http</code>.</wadl:doc>
				</param>
				
				<param name="origins" style="plain" path="$.origins"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a list of origin domains or IP addresses where the original assets are stored.</wadl:doc>
				</param>
				<param name="origin" style="plain" path="$.origins.origin"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the URL or IP address from which to pull origin content. The minimum length for <code>origin</code> is 3. The maximum length is 253. </wadl:doc>
				</param>
				<param name="port" style="plain" path="$.origins.port"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the port used to access the origin. The default is port 80. Note: Rackspace CDN cannot be used with custom ports. Services are required to run on HTTP (80) and HTTPS (443) for the origin servers.</wadl:doc>
				</param>
				<param name="ssl" style="plain" path="$.origins.ssl"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Uses HTTPS to access the origin. The default is false.</wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.origins.rules"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that define the conditions when this origin should be accessed. If there is more than one origin, the <code>rules</code> parameter is required.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.origins.rules.name"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule. The minimum length for <code>name</code> is 3. The maximum length is 256.</wadl:doc>
				</param>
				<param name="request_url" style="plain" path="$.origins.rules.request_url"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the request URL that this rule should match for this origin to be used. The minimum length for <code>request_url</code> is 3. The maximum length is 1024. (Regex is supported.)</wadl:doc>
				</param>
				
				<param name="caching" style="plain" path="$.caching"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the TTL rules for the assets under this service. Supports wildcards for fine-grained control.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.caching.name"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this caching rule. The minimum length for <code>name</code> is 3. The maximum length is 256. Note: <code>default</code> is a reserved name used for the default TTL setting.</wadl:doc>
				</param>
				<param name="ttl" style="plain" path="$.caching.ttl"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the TTL to apply. The value of <code>ttl</code> must be greater than or equal to 0.</wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.caching.rules"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that determine if this TTL should be applied to an asset. Note: This is a required property if more than one entry is present for caching. </wadl:doc>
				</param>
				<param name="name" style="plain" path="$.caching.rules.name"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule. The minimum length for <code>name</code> is 3. The maximum length is 256. </wadl:doc>
				</param>
				<param name="request_url" style="plain" path="$.caching.rules.request_url"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the request URL that this rule should match for this TTL to be used. The minimum length for <code>request_url</code> is 3. The maximum length is 1024. (Regex is supported.)</wadl:doc>
				</param>
				
				<param name="restrictions" style="plain" path="$.restrictions"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the restrictions that define who can access assets (content from the CDN cache).</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.restrictions.name"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this restriction. The minimum length for <code>name</code> is 3. The maximum length is 256. </wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.restrictions.rules"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that determine if this restriction should be applied to an asset.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.restrictions.rules.name"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule. The minimum length for <code>name</code> is 3. The maximum length is 256.</wadl:doc>
				</param>
				<param name="referrer" style="plain" path="$.restrictions.rules.referrer"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the http host that requests must come from. The minimum length for <code>referrer</code> is 3. The maximum length is 1024.</wadl:doc>
				</param>				
				
<!--			<param name="request_url" style="plain" path="$.restrictions.rules.request_url"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the request URL that this rule should match for this TTL to be used. The minimum length for <code>request_url</code> is 3. The maximum length is 1024. (Regex is supported.)</wadl:doc>
				</param>
				<param name="http_host" style="plain" path="$.restrictions.rules.http_host"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the HTTP host from which requests must come. The minimum length for <code>http_host</code> is 3. The maximum length is 256.</wadl:doc>
				</param>
				<param name="client_ip" style="plain" path="$.restrictions.rules.client_ip"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the client IP address from which requests can be accepted.</wadl:doc>
				</param>
				<param name="http_method" style="plain" path="$.restrictions.rules.http_method"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the HTTP method (GET, PUT, POST, DELETE, PATCH, and so on) that can be accepted.</wadl:doc>
				</param>
-->				
				<param name="flavor_id" style="plain" path="$.flavor_id"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the CDN provider flavor ID to use. For a list of flavors, see the operation to list the available flavors. The minimum length for <code>flavor_id</code> is 1. The maximum length is 256.</wadl:doc>
				</param>
<!--								
				
				<param name="links" style="plain" path="$.links"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the self-navigating JSON document paths.</wadl:doc>
				</param>
				<param name="href" style="plain" path="$.links.href"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the location to access this resource.</wadl:doc>
				</param>
				<param name="rel" style="plain" path="$.links.rel"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies how the href link provided is related to this resource_url.</wadl:doc>
				</param>				
-->				
			</representation>
		</request>
		<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Accepted" xml:lang="EN">The request has been accepted for processing.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code href="../wadl/samples/cdn-createService_response-json-http.txt"/>			
				</wadl:doc>
			</representation>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid JSON.</doc>			
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Missing or empty domains list.</doc>			
		</response>
<!--		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Maximum length of domains list reached.</doc>			
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid entry for the domain value (such as [{"domain": "invalid"}]. </doc>			
		</response> -->
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Missing or empty origins list. </doc>			
		</response>
<!--		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Maximum length of origins list reached.</doc>			
		</response> 
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid entry for the origin value (such as [{"origin": "invalid"}]. </doc>			
		</response>  -->
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Non-Boolean value for origins:origin:ssl. </doc>			
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Value for origins:origin:port is something other than 80 or 443. </doc>			
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Restrictions list present with no name.</doc>			
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Attempt to create a service with a flavor_id that is not 'cdn'.</doc>			
		</response>
	</method>
<!--*******************************************************-->
<!--               Retrieve a service                      -->
<!--*******************************************************-->
	<method name="GET" id="getService">
		<wadl:doc xml:lang="EN" title="Retrieve a service"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves a service.</para>
			<para>This operation retrieves a service. </para>			
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getService_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getService_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getService_response.json"
					/>
				</wadl:doc>
				<param name="id" style="plain" path="$.id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the service ID that represents distributed content. The value is a UUID, such as 96737ae3-cfc1-4c72-be88-5d0e7cc9a3f0, that is generated by the server. </wadl:doc>
				</param>
				<param name="name" style="plain" path="$.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the service.</wadl:doc>
				</param>
				<param name="domains" style="plain" path="$.domains">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a list of domains used by users to access their website.</wadl:doc>
				</param>
				<param name="domain" style="plain" path="$.domains.domain">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the domain used to access the assets on their website, for which a CNAME is given to the CDN provider.</wadl:doc>
				</param>
				<param name="protocol" style="plain" path="$.domains.protocol">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the protocol used to access the assets on this domain. Only <code>http</code> or <code>https</code> are currently allowed. <code>protocol</code> defaults to <code>http</code>.</wadl:doc>
				</param>
				
				<param name="origins" style="plain" path="$.origins">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a list of origin domains or IP addresses where the original assets are stored.</wadl:doc>
				</param>
				<param name="origin" style="plain" path="$.origins.origin">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the URL or IP address from which to pull origin content.</wadl:doc>
				</param>
				<param name="port" style="plain" path="$.origins.port">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the port used to access the origin. The default is port 80. Note: Rackspace CDN cannot be used with custom ports. Services are required to run on HTTP (80) and HTTPS (443) for the origin servers.</wadl:doc>
				</param>
				<param name="ssl" style="plain" path="$.origins.ssl">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Uses HTTPS to access the origin. The default is false.</wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.origins.rules">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that define the conditions when this origin should be accessed. If there is more than one origin, the <code>rules</code> parameter is required.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.origins.rules.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule. </wadl:doc>
				</param>
				<param name="request_url" style="plain" path="$.origins.rules.request_url">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the request URL that this rule should match for this origin to be used. (Regex is supported.)</wadl:doc>
				</param>
				
				<param name="caching" style="plain" path="$.caching">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the TTL rules for the assets under this service. Supports wildcards for fine-grained control.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.caching.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this caching rule. Note: 'default' is a reserved name used for the default TTL setting.</wadl:doc>
				</param>
				<param name="ttl" style="plain" path="$.caching.ttl">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the TTL to apply.</wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.caching.rules">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that determine if this TTL should be applied to an asset.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.caching.rules.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule.</wadl:doc>
				</param>
				<param name="request_url" style="plain" path="$.caching.rules.request_url">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the request URL that this rule should match for this TTL to be used. (Regex is supported.)</wadl:doc>
				</param>
				
				<param name="restrictions" style="plain" path="$.restrictions">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the restrictions that define who can access assets (content from the CDN cache).</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.restrictions.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this restriction.</wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.restrictions.rules">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that determine if this restriction should be applied to an asset.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.restrictions.rules.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule.</wadl:doc>
				</param>
				<param name="referrer" style="plain" path="$.restrictions.rules.referrer">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the HTTP host from which requests must come.</wadl:doc>
				</param>				
				
				<!--			<param name="request_url" style="plain" path="$.restrictions.rules.request_url">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the request URL that this rule should match for this TTL to be used. (Regex is supported.)</wadl:doc>
				</param>
				<param name="http_host" style="plain" path="$.restrictions.rules.http_host">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the HTTP host from which requests must come.</wadl:doc>
				</param>
				<param name="client_ip" style="plain" path="$.restrictions.rules.client_ip">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the client IP address from which requests can be accepted.</wadl:doc>
				</param>
				<param name="http_method" style="plain" path="$.restrictions.rules.http_method">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the HTTP method (GET, PUT, POST, DELETE, PATCH, and so on) that can be accepted.</wadl:doc>
				</param>
-->				
				<param name="flavor_id" style="plain" path="$.flavor_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the CDN provider flavor ID to use. For a list of flavors, see the operation to list the available flavors.</wadl:doc>
				</param>
				
				<param name="status" style="plain" path="$.status">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the current status of the service.</wadl:doc>
				</param>
				<param name="create_in_progress" style="plain" path="$.status.create_in_progress">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies that the service is currently being created and deployed.</wadl:doc>
				</param>
				<param name="deployed" style="plain" path="$.status.deployed">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies that the service has been deployed and is ready to use.</wadl:doc>
				</param>
				<param name="update_in_progress" style="plain" path="$.status.update_in_progress">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies that the service is currently being updated.</wadl:doc>
				</param>
				<param name="delete_in_progress" style="plain" path="$.status.delete_in_progress">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies that the service is currently being deleted.</wadl:doc>
				</param>
				<param name="failed" style="plain" path="$.status.failed">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies that the previous operation on the service failed to create, deploy, update, or delete. Looks for the errors[] for details.</wadl:doc>
				</param>
				
				<param name="errors" style="plain" path="$.errors">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the list of errors that occurred during the previous service action.</wadl:doc>
				</param>
				<param name="message" style="plain" path="$.errors.message">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies an error message detailing why there is an error. </wadl:doc>
				</param>
				
				<param name="links" style="plain" path="$.links">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the self-navigating JSON document paths.</wadl:doc>
				</param>
				<param name="href" style="plain" path="$.links.href">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the location to access this resource. </wadl:doc>
				</param>
				<param name="rel" style="plain" path="$.links.rel">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies how the href link provided is related to this resource_url.</wadl:doc>
				</param>
			</representation>
		</response>
	</method>
<!--*******************************************************-->
<!--                   Edit a service                      -->
<!--*******************************************************-->
	<method name="PATCH" id="patchService">
		<wadl:doc xml:lang="EN" title="Update a service"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Updates the specified service.</para>
			<para>You can use the HTTP PATCH method to <code>add</code>, <code>remove</code>, or <code>replace</code> service properties. For more information about the HTTP PATCH method, see <link
				xlink:href="https://tools.ietf.org/html/rfc5789">RFC5789</link>.</para>
			<para>To update a service, send a JSON body that conforms to <link
				xlink:href="https://tools.ietf.org/html/rfc6902">RFC6902</link> using paths and values for one or more of the service parameters, which are described in <link
					xlink:href="http://docs.rackspace.com/cdn/api/v1.0/cdn-devguide/content/GET_getService__services__service_id__servicesOperations.html">Create a service</link>. If no changes are specified for a parameter in the JSON body, all parameter values from the previous version of the service are carried over by default.</para>							
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-patchService_request-json-http.txt"/>
					<xsdxt:code
						href="../wadl/samples/cdn-patchService_request.json"
					/>
				</doc>
				<param name="op" style="plain" path="$.op" required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the operation, <code>add</code>, <code>remove</code>, or <code>replace</code>, to be executed. </wadl:doc>
				</param>
				<param name="path" style="plain" path="$.path"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the JSON Pointer location within the service's JSON representation of the service parameter being added, replaced or removed. </wadl:doc>
				</param>
				<param name="value" style="plain" path="$.value"
					required="false">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the actual value to be added or replaced. It is not required for the <code>remove</code> operation.</wadl:doc>
				</param>				
			</representation>
		</request>
		<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Accepted" xml:lang="EN">The request has been accepted for processing.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-patchService_response-json-http.txt"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid input JSON or service not deployed.</doc>			
		</response>
		<response status="404" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Not Found" xml:lang="EN">Service not found.</doc>			
		</response>
<!--	<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Missing or empty domains list.</doc>			
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Maximum length of domains list reached.</doc>			
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid entry for domain value (such as [{"domain": "invalid"}]. </doc>			
		</response> 
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Missing or empty origins list. </doc>			
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Maximum length of origins list reached.</doc>			
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid entry for origin value (such as [{"origin": "invalid"}]. </doc>			
		</response> 
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Non-Boolean value for origins:origin:ssl. </doc>			
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Value for origins:origin:port is something other than 80 or 443. </doc>			
		</response>
		
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Restrictions list present with no name.</doc>			
		</response>		
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Attempt to update a service with a flavor_id that is not 'cdn'.</doc>			
		</response>
-->		
	</method>
	<!--*******************************************************-->
	<!--                   Delete a service                    -->
	<!--*******************************************************-->
	<method name="DELETE" id="deleteService">
		<wadl:doc xml:lang="EN" title="Delete a service"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Deletes the specified service.</para>
			<para>This operation deletes the specified service. </para>			
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-deleteService_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Accepted" xml:lang="EN">The request has been fulfilled, but does not return a representation
				(that is, the response is empty).</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-deleteService_response-json-http.txt"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
<!--*******************************************************-->
<!--              Service assets methods                   -->
<!--*******************************************************-->	
<!--*******************************************************-->
<!--               Check a cached asset                    -->
<!--*******************************************************-->
	<method name="GET" id="getCachedAsset">
		<wadl:doc xml:lang="EN" title="Retrieve a cached asset"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves a cached asset.</para>
			<para>This operation retrieves the version of the asset that has been cached at the edge, along with any custom rules for the asset.</para>
			<para>The examples contain the expanded URL template with values inherited from parameters (for example,  https://private-anon-afee1c004-cdn.apiary-mock.com/services/mywebsite/assets).</para>			
		</wadl:doc>
		<request>
			<param name="url" style="query" type="xsd:string"
				required="true">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">Specifies the <code>url</code> of the asset that is checked.</wadl:doc>
			</param>			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getCachedAsset_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getCachedAsset_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getCachedAsset_response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
<!--*******************************************************-->
<!--               Delete a cached asset                    -->
<!--*******************************************************-->
	<method name="DELETE" id="deleteCachedAsset">
		<wadl:doc xml:lang="EN" title="Delete a cached asset"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Deletes a cached asset.</para>
			<para>This operation deletes the current version of the asset that has been cached at the edge node.</para>			
		</wadl:doc>
		<request>
			<param name="url" style="query" type="xsd:string"
				required="false">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">Specifies the relative <code>URL</code> of the asset to be deleted.</wadl:doc>
			</param>
			<param name="all" style="query" type="xsd:string"
				required="false">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">If <code>all</code> is set to <code>true</code>, specifies that the delete occurs against all of the assets for the service.</wadl:doc>
			</param>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-deleteCachedAsset_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Accepted" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-deleteCachedAsset_response-json-http.txt"
					/>					
				</wadl:doc>
			</representation>
		</response>
	</method>
<!--*******************************************************-->
<!--              Service Analytic methods                 -->
<!--*******************************************************-->	
<!--*******************************************************-->
<!--               Check a cached asset                    -->
<!--*******************************************************-->
	<method name="GET" id="getAssetAnalytics">
		<wadl:doc xml:lang="EN" title="Retrieve asset analytics"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves asset analytics.</para>
			<para>This operation retrieves usage data (such as hits or misses) about the service.</para>			
			<para>The examples contain the expanded URL template with values inherited from parameters (for example,  https://private-anon-afee1c004-cloudcdn.apiary-mock.com/services/mywebsite/analytics).</para>
		</wadl:doc>
		<request>
			<param name="url" style="query" type="xsd:string"
				required="false">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">Specifies the <code>url</code> of the asset on which to get analytics. If left blank, analytics are reported against all the assets of the service.</wadl:doc>
			</param>			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getAssetAnalytics_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getAssetAnalytics_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getAssetAnalytics_response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
<!--*******************************************************-->
<!--              Flavors methods                          -->
<!--*******************************************************-->	
<!--*******************************************************-->
<!--               List flavors                             -->
<!--*******************************************************-->
	<method name="GET" id="getFlavors">
		<wadl:doc xml:lang="EN" title="Retrieve flavors"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves a list of all available flavors.</para>
			<para>This operation retrieves a list of all available flavors.</para>			
			
		</wadl:doc>
		<request>
						
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getFlavors_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getFlavors_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getFlavors_response.json"
					/>
				</wadl:doc>
				<param name="id" style="plain" path="$.id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the flavor. The name must not exceed 64 bytes in length and is limited to Unicode, digits, underscores, and hyphens.</wadl:doc>
				</param>
				<param name="providers" style="plain" path="$.providers">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the list of providers mapped to this flavor.</wadl:doc>
				</param>
				<param name="provider" style="plain" path="$.providers.provider">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the provider. The name must not exceed 64 bytes in length and is limited to Unicode, digits, underscores, and hyphens.</wadl:doc>
				</param>
				<param name="links" style="plain" path="$.providers.links">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a list with an <code>href</code> where <code>rel</code> is <code>provider_url</code>. </wadl:doc>
				</param>
				
				<param name="links" style="plain" path="$.links">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the self-navigating JSON document paths.</wadl:doc>
				</param>
				<param name="href" style="plain" path="$.links.href">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the location to use to access the resource. </wadl:doc>
				</param>
				<param name="rel" style="plain" path="$.links.rel">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies how the <code>href</code> link provided is related to the resource_url.</wadl:doc>
				</param>
			</representation>
		</response>
	</method>
<!--*******************************************************-->
<!--       Create flavors - moved to Admin WADL            -->
<!--*******************************************************-->	
<!--	<method name="POST" id="postFlavors">
		<wadl:doc xml:lang="EN" title="Create flavors"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Creates flavors.</para>
			<para>This operation creates flavors.</para>			
			
		</wadl:doc>
		<request>
			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-postFlavors_request-json-http.txt"/>
					<xsdxt:code	href="../wadl/samples/cdn-postFlavors_request.json"/>
				</doc>
				<param name="id" style="plain" path="$.id"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the flavor. The name must not exceed 64 bytes in length and is limited to unicode, digits, underscores, and hyphens.</wadl:doc>
				</param>
				<param name="limits" style="plain" path="$.limits"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the list of limits to apply to origins, domains, and caching configurations to services using this flavor class.</wadl:doc>
				</param>
				<param name="origins" style="plain" path="$.limits.origins"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the minimum and maximum count limits to apply to the list of origins. The minimum defaults to 1.</wadl:doc>
				</param>
				<param name="domains" style="plain" path="$.limits.domains"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the minimum and maximum count limits to apply to the list of domains. The minimum defaults to 1.</wadl:doc>
				</param>
				<param name="caching" style="plain" path="$.limits.caching"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the minimum and maximum minute limits to apply to the list of caching TTLs. An <code>incr</code> can be specified to enforce the TTL to be a factor of. <code>Incr</code> defaults to 1. </wadl:doc>
				</param>
				<param name="providers" style="plain" path="$.providers"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the list of providers mapped to this flavor class.</wadl:doc>
				</param>
				<param name="provider" style="plain" path="$.providers.provider"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the provider. The name must not exceed 64 bytes in length and is limited to unicode, digits, underscores, and hyphens.</wadl:doc>
				</param>
				<param name="links" style="plain" path="$.providers.links"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifices a list with a <code>href</code> where <code>rel</code> is <code>provider_url</code>. Rackspace CDN ignores all entries in the list except the <code>provider_url</code>.</wadl:doc>
				</param>
				
			</representation>
		</request>
		<response status="201" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Created" xml:lang="EN">Following a POST command, this status indicates success. The request has been fulfilled and resulted in a new resource being created.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-postFlavors_response-json-http.txt"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Provider ID is greater than 64 bytes.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Missing provider ID.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Providers list is empty.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Providers name is greater than 64 bytes.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Providers ['links'] list is empty.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid url format in href.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Missing provider-url entry.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Missing rel file.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid json.</doc>
		</response>
	</method> -->
<!--*******************************************************-->
<!--               List flavor details                     -->
<!--*******************************************************-->	
	<method name="GET" id="getFlavorDetails">
		<wadl:doc xml:lang="EN" title="Retrieve flavor details"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves details for the specified flavor.</para>
			<para>This operation retrieves details for the flavor specified by flavor_id.</para>			
			
		</wadl:doc>
		<request>
			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getFlavorDetails_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getFlavorDetails_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getFlavorDetails_response.json"
					/>
				</wadl:doc>
				<param name="id" style="plain" path="$.id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the flavor. The name must not exceed 64 bytes in length and is limited to Unicode, digits, underscores, and hyphens.</wadl:doc>
				</param>
				<param name="providers" style="plain" path="$.providers">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the list of providers mapped to this flavor class.</wadl:doc>
				</param>
				<param name="provider" style="plain" path="$.providers.provider">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the provider. The name must not exceed 64 bytes in length and is limited to Unicode, digits, underscores, and hyphens.</wadl:doc>
				</param>
				<param name="links" style="plain" path="$.providers.links">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a list with a <code>href</code> where <code>rel</code> is <code>provider_url</code>. </wadl:doc>
				</param>
				
				<param name="links" style="plain" path="$.links">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the self-navigating JSON document paths.</wadl:doc>
				</param>
				<param name="href" style="plain" path="$.links.href">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the location to access this resource. </wadl:doc>
				</param>
				<param name="rel" style="plain" path="$.links.rel">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies how the href link provided is related to this resource_url.</wadl:doc>
				</param>
			</representation>
		</response>
	</method>
<!--*******************************************************-->
<!--           Delete flavor  - moved to Admin WADL        -->
<!--*******************************************************-->	
<!--	<method name="DELETE" id="deleteFlavor">
		<wadl:doc xml:lang="EN" title="Delete flavor"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Deletes the flavor specified by flavor_id.</para>
			<para>This operation deletes the flavor specified by flavor_id.</para>			
			
		</wadl:doc>
		<request>
			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-deleteFlavor_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="204" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="No Content" xml:lang="EN">The server successfully processed the request, but is not returning any content.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-deleteFlavor_response-json-http.txt"
					/>

				</wadl:doc>
			</representation>
		</response>
	</method> -->
<!--*******************************************************-->
<!--              Logging methods                          -->
<!--*******************************************************-->	
<!--*******************************************************-->
<!--               List logs                             -->
<!--*******************************************************-->
	<method name="GET" id="getLogging">
		<wadl:doc xml:lang="EN" title="Retrieve logs"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves a list of available logs.</para>
			<para>This operation retrieves a list of available logs.</para>			
			
		</wadl:doc>
		<request>
			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getLogging_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getLogging_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getLogging_response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>
<!--*******************************************************-->
<!--               Post logs                               -->
<!--*******************************************************-->
	<method name="POST" id="postLogging">
		<wadl:doc xml:lang="EN" title="Create a log location"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Creates a log location.</para>
			<para>This operation creates a log location by providing instructions for where logs should be submitted.</para>			
			
		</wadl:doc>
		<request>
			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-postLogging_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-postLogging_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-postLogging_response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
	</method>	
</application>
