src/wadl/cdn-adminguide.wadl

<?xml version="1.0" encoding="UTF-8"?>
<!-- (C) 2012-2014 OpenStack Foundation, All Rights Reserved  -->

<!-- <!DOCTYPE application [<!ENTITY % common  SYSTEM "../wadl/common.ent">
    %common;]> -->
    
<application xmlns="http://wadl.dev.java.net/2009/02"
	xmlns:wadl="http://wadl.dev.java.net/2009/02"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:xlink="http://www.w3.org/1999/xlink"
	xmlns:xsdxt="http://docs.rackspacecloud.com/xsd-ext/v1.0"
	xmlns:raxapi="http://docs.rackspace.com/volume/api/v1"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:cdn="http://docs.openstack.org/database/api/v1.0"		
	xmlns:imageapi="http://docs.openstack.org/image/api/v2.0" 
	xmlns:atom="http://www.w3.org/2005/Atom"
	xmlns:csapi="http://docs.openstack.org/compute/api/v2" 
	xmlns:common="http://docs.openstack.org/common/api/v1.0">	
	

<!--*******************************************************-->
<!--             All resources                             -->
<!--*******************************************************-->
	<resources base="https://global.cdn.api.rackspacecloud.com/">
		<resource id="version" path="/">
<!--
				<resource id="projectID" path="{project_id}">
				<param name="project_id" style="template" type="xsd:string"> 
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">The unique identifier for the user. If you do not set the 
					X-Project-Id header, use project_id as the first parameter before the request path. 
					For example: GET https://global.cdn.api.rackspacecloud.com/{project_id}/v1.0/ </wadl:doc></param> 
-->
			
			<resource id="admin" path="admin">
				
				           <resource id="services" path="services">
					           <resource id= "action" path="action">
						           <method href="#postServiceAction"/>
					           </resource>
				            </resource>
				
				            <resource  id="limits" path="limits">
				            	<resource id="project_id" path="{project_id}">
				            		<param name="project_id" style="template" type="xsd:string"> 
				            			<wadl:doc 
				            				xmlns="http://docbook.org/ns/docbook"
				            				xml:lang="EN"><para>The unique identifier for the user.</para> </wadl:doc>
				            		</param>
				            		<method href="#putLimitsProjectID"/>
				            		<method href="#getLimitsProjectID"/>
				            	</resource>
				            </resource>	
				
							<resource id="domains" path="domains">
								<resource id="domain" path="{domain_name}">
								<param name="domain_name" style="template" type="xsd:string"> 
								<wadl:doc 
								xmlns="http://docbook.org/ns/docbook"
								xml:lang="EN"><para>The name of the domain. For example, blog.mywebsite.com.</para> </wadl:doc>
								</param>
									<method href="#getServiceByDomain"/>
								</resource>
							</resource>
				
								<resource id="provider" path="provider">
									<resource id="akamai" path="akamai">
										<resource id="background_job" path="background_job">
											<method href="#postAkamaiBackground"/>
										</resource>
										<resource id="service" path="service">
					                      <method href="#postSANDomain"/>											
										</resource>
										<resource id="SANcertificate" path="ssl_certificate">
											<resource id="retry_list" path="retry_list">
											    <method href="#getSANRetryList"/>
												<method href="#putSANRetryList"/>
												<method href="#postSANRetryList"/>
											</resource>
										</resource>	

									</resource>
								</resource>
			</resource>			
			
			<resource id="health" path="health">
			    <method href="#getHealthCheck"/>
				<resource id="subsystem" path="{subsystem}">
					<param name="subsystem" style="template" type="xsd:string"> 
						<wadl:doc 
							xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN"><para>The unique identifier for the user.</para> </wadl:doc>
					</param>
				    <method href="#getHealthDetails"/>				                
				</resource>	
			</resource>	
			
			
				<resource id="ssl_certificate" path="ssl_certificate">
					<method href="#postSSLCertificate"/>
					     <resource id="domain_name" path="{domain_name}">
					          <param name="domain_name" style="template" type="xsd:string" required="true">
						          <wadl:doc xmlns="http://docbook.org/ns/docbook" xml:lang="EN">
						              <para>Specifies a string representing the type of the SSL certificate, such as <code>www.example.com</code>. </para> 
							      </wadl:doc>
					          </param>
					              <method href="#getSSLCertificate"/>					     	
					      </resource>
				</resource> 
			
			<resource id="flavors" path="flavors">				
				<method href="#postFlavors"/>
				<resource id="flavor_id" path="{flavor_id}">
					<param name="flavor_id" style="template"
						type="xsd:string" required="true">
						<wadl:doc
							xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN"><para>Specifies the flavor ID. For example: asia 
							</para> </wadl:doc>
					</param>					
					<method href="#deleteFlavor"/>
			    </resource>
			</resource>			
				
		</resource>
	</resources>
<!--*******************************************************-->
<!--               All methods                             -->
<!--*******************************************************-->

<!--*******************************************************-->
<!--              Service action methods                   -->
<!--*******************************************************-->
	
<!--*******************************************************-->
<!--            Post service action                        -->
<!--*******************************************************-->
	<method name="POST" id="postServiceAction">
		<wadl:doc xml:lang="EN" title="Post service action"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Changes the operator status of, or enables, diables, or deletes services for a <code>project_id</code> or a domain.</para>
			<para>To change the operator status of or delete services for a <code>project_id</code> or a domain, provide a JSON request body with <code>action</code> set to <code>enable</code>, <code>disable</code>, or <code>delete</code>, along with the <code>project_id</code> of the user or the <code>domain</code>. </para>			
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-postServiceAction_request-json-http.txt"/>
					<xsdxt:code href="../wadl/samples/cdn-postServiceAction_request.json"/>
				</doc>
				
				<param name="project_id" style="plain" required="true" path="$.project_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the associated identifier for the user account, such as, 12345.</wadl:doc>
				</param>
				
				<param name="action" style="plain" required="true" path="$.action">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the action to perfrom, such as <code>enable</code>, <code>disable</code>, or <code>delete</code>. </wadl:doc>
				</param>
			</representation>
			<representation mediaType="application/json" >
				
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-postServiceAction_request-json-http.txt"/>
					<xsdxt:code href="../wadl/samples/cdn-postServiceActionWithDomain_request.json"/>
				</doc>
				
				<param name="domain" style="plain" required="true" path="$.domain">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a string representing the domain, such as <code>www.example.com</code>.</wadl:doc>
				</param>
				<param name="action" style="plain" required="true" path="$.action">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the action to perfrom, such as <code>enable</code>, <code>disable</code>, or <code>delete</code>. </wadl:doc>
				</param>
			</representation>
		</request>
		<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Accepted" xml:lang="EN">The request has been accepted for processing.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-postServiceAction_response-json-http.txt"/>	 	 			
				</wadl:doc>
			</representation>
		</response>		
	</method>

	<!--*******************************************************-->
	<!--              Limits methods                           -->
	<!--*******************************************************-->
	
	<!--*******************************************************-->
	<!--      Set limits on services for a user account        -->
	<!--*******************************************************-->
	<method name="PUT" id="putLimitsProjectID">
		<wadl:doc xml:lang="EN" title="Set limits on services for a user account"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Sets limits on the number of services.</para>
			<para>To set limits on the number of services for a particular <code>project_id</code>, provide a JSON request body with <code>limit</code> set to a positive integer. Provide the <code>project_id</code> associated with the user account in the endpoint URL.</para>			
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-putLimitsProjectID_request-json-http.txt"/>
					<xsdxt:code href="../wadl/samples/cdn-putLimitsProjectID_request.json"/>	
				</doc>
				<param name="limit" style="plain" required="true" path="$.limit">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the limit on the number of services for the <code>project_id</code>.</wadl:doc>
				</param>
			</representation>
		</request>
		<response status="201" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Created" xml:lang="EN">The request has been fulfilled.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-putLimitsProjectID_response-json-http.txt"/> 	 	 			
				</wadl:doc>
			</representation>
		</response>		
	</method>
	
	<!--*******************************************************-->
	<!--      Get limits on services for a user account        -->
	<!--*******************************************************-->
	<method name="GET" id="getLimitsProjectID">
		<wadl:doc xml:lang="EN" title="Get limits on services for a user account"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Get limits on the number of services.</para>
			<para> To get limits on the number of services for a particular <code>project_id</code>, provide the <code>project_id</code> in the endpoint URL of the operation. No JSON request body is required. </para>			
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getLimitsProjectID_request-json-http.txt"/> 
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success..</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getLimitsProjectID_response-json-http.txt"/>
					<xsdxt:code href="../wadl/samples/cdn-getLimitsProjectID_response.json"/>	  
				</wadl:doc>
				<param name="limit" style="plain" required="true" path="$.limit">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the limit on the number of services for the <code>project_id</code>.</wadl:doc>
				</param>
			</representation>
		</response>		
	</method>
	
	<!--*******************************************************-->
	<!--              Domain methods                           -->
	<!--*******************************************************-->

	<!--*******************************************************-->
	<!--         Retrieve a service by domain name             -->
	<!--*******************************************************-->
	<method name="GET" id="getServiceByDomain">
		<wadl:doc xml:lang="EN" title="Retrieve a service by domain name"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves a service by domain name.</para>
			<para>This operation retrieves a service by domain name. </para>
			<note><para>This endpoint is accessible only by users with the <code>support</code> role in their Cloud Identity service catalog.</para></note>
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getServiceByDomain_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code href="../wadl/samples/cdn-getServiceByDomain_response-json-http.txt"/>
					<xsdxt:code href="../wadl/samples/cdn-getServiceByDomain_response.json"/>					
				</wadl:doc>
				<param name="id" style="plain" path="$.id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the service ID that represents distributed content. The value is a UUID, such as 96737ae3-cfc1-4c72-be88-5d0e7cc9a3f0, that is generated by the server. </wadl:doc>
				</param>
				<param name="project_id" style="plain" path="$.project_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the unique identifier for the user. (This is your actual account ID that is returned as part of the authentication service response.)  </wadl:doc>
				</param>
				<param name="name" style="plain" path="$.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the service.</wadl:doc>
				</param>
				<param name="domains" style="plain" path="$.domains">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a list of domains used by users to access their website.</wadl:doc>
				</param>
				<param name="domain" style="plain" path="$.domains.domain">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the domain used to access the assets on their website, for which a CNAME is given to the CDN provider.</wadl:doc>
				</param>				
				
				<param name="origins" style="plain" path="$.origins">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a list of origin domains or IP addresses where the original assets are stored.</wadl:doc>
				</param>
				<param name="origin" style="plain" path="$.origins.origin">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the URL or IP address to pull origin content from.</wadl:doc>
				</param>
				<param name="port" style="plain" path="$.origins.port">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the port used to access the origin. The default is port 80. Note: Rackspace CDN cannot be used with custom ports. Services are required to run on HTTP (80) and HTTPS (443) for the origin servers. </wadl:doc>
				</param>
				<param name="ssl" style="plain" path="$.origins.ssl">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Uses HTTPS to access the origin. The default is false.</wadl:doc>
				</param>
				<param name="hostheadertype" style="plain" path="$.origins.hostheadertype">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the type for the host header. The default value is <code>domain</code>. Other valid values are <code>origin</code> and <code>custom</code>.</wadl:doc>
				</param>
				<param name="hostheadervalue" style="plain" path="$.origins.hostheadervalue">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the value to be contained in the host header. The default value is <code>NULL</code>; this value is assigned only when <code>hostheadertype</code> is <code>domain</code>. You are required to specify <code>hostheadervalue</code> only when <code>hostheadertype</code> is specified as <code>custom</code>. If you specify <code>hostheadertype</code> as <code>origin</code>, <code>hostheadervalue</code> takes the value of the origin domain.</wadl:doc>
				</param> 
				
				<param name="caching" style="plain" path="$.caching">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the TTL rules for the assets under this service. Supports wildcards for fine grained control.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.caching.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this caching rule. Note: 'default' is a reserved name used for the default TTL setting.</wadl:doc>
				</param>
				<param name="ttl" style="plain" path="$.caching.ttl">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the TTL to apply.</wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.caching.rules">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that determine if this TTL should be applied to an asset.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.caching.rules.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule.</wadl:doc>
				</param>
				<param name="request_url" style="plain" path="$.caching.rules.request_url">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the request URL this rule should match for this TTL to be used. Regex is supported. Note: The regex is a Perl Compatible Regex (PCRE). For more information about PRCE, see <link
							xlink:href="http://php.net/manual/en/book.pcre.php">Regular Expressions (Perl-Compatible)</link>.</wadl:doc>
				</param>
				
				<param name="restrictions" style="plain" path="$.restrictions">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the restrictions that define who can access assets (content from the CDN cache).</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.restrictions.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this restriction.</wadl:doc>
				</param>
				<param name="rules" style="plain" path="$.restrictions.rules">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a collection of rules that determine if this TTL should be applied to an asset.</wadl:doc>
				</param>
				<param name="name" style="plain" path="$.restrictions.rules.name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of this rule.</wadl:doc>
				</param>
				<param name="referrer" style="plain" path="$.restrictions.rules.referrer">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the http host that requests must come from.</wadl:doc>
				</param>
				
				<param name="flavor_id" style="plain" path="$.flavor_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the CDN provider flavor ID to use. For a list of flavors, see the operation to list the available flavors.</wadl:doc>
				</param>
				<param name="log_delivery" style="plain" path="$.log_delivery">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies whether log delivery to a Cloud Files container is enabled or disabled. For more information about logs, see the <code>log_delivery</code> parameter description in <link
							xlink:href="https://developer.rackspace.com/docs/cdn/v1/developer-guide/#create-a-service">Create service</link>.</wadl:doc>
				</param>
				<param name="enabled" style="plain" path="$.log_delivery.enabled">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies whether log delivery is enabled (<code>true</code>) or disabled (<code>false</code>). </wadl:doc>
				</param>
								
				<param name="status" style="plain" path="$.status">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the current status of the service.</wadl:doc>
				</param>
				
				<param name="errors" style="plain" path="$.errors">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the list of errors that occurred during the previous service action.</wadl:doc>
				</param>
				<param name="links" style="plain" path="$.links">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the self-navigating JSON document paths.</wadl:doc>
				</param>
				<param name="href" style="plain" path="$.links.href">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the location to access this resource. </wadl:doc>
				</param>
				<param name="rel" style="plain" path="$.links.rel">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies how the href link provided is related to this resource_url.</wadl:doc>
				</param>
				
			</representation>
		</response>		
	</method>	
	
	<!--*******************************************************-->
	<!--               Migrate SAN domain                      -->
	<!--*******************************************************-->
	<method name="POST" id="postSANDomain">
		<wadl:doc xml:lang="EN" title="Migrate SAN domain"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Updates the domain with a new SAN URL.</para>
			<para>This operation updates the domain with a new SAN URL.</para>
			<note><para>This endpoint is accessible only by users with the <code>support</code> role in their Cloud Identity service catalog.</para></note>
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-postSANDomain_request-json-http.txt"/>
					<xsdxt:code href="../wadl/samples/cdn-postSANDomain_request.json"/>
				</doc>
				<param name="project_id" style="plain" required="true" path="$.project_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the associated identifier for the user account, such as, 12345.</wadl:doc>
				</param>
				<param name="service_id" style="plain" required="true" path="$.service_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the id of the service, such as <code>96737ae3-cfc1-4c72-be88-5d0e7cc9a3f0</code>.</wadl:doc>
				</param>
				<param name="domain_name" style="plain" required="true" path="$.domain_name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a string representing the domain, such as <code>www.example.com</code>.</wadl:doc>
				</param>
				<param name="new_cert" style="plain" required="true" path="$.new_cert">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the new certificate, such as <code>scdn1.secure6.raxcdn.com.edgekey.net</code>. </wadl:doc>
				</param>
				<param name="cert_status" style="plain" required="true" path="$.cert_status">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the status of the certificate. The default value is <code>deployed</code>. The other possible value is <code>create_in_progress</code>. </wadl:doc>
				</param>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code href="../wadl/samples/cdn-postSANDomain_response-json-http.txt"/>
										
				</wadl:doc>
			</representation>
		</response>		
	</method>

	
	

		
<!--*******************************************************-->
<!--               SAN retry-list methods                  -->
<!--*******************************************************-->
		

	
	<method name="GET" id="getSANRetryList">
		<wadl:doc xml:lang="EN" title="List SAN requests in retry list queue"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Lists all the SAN requests in the SAN retry list queue.</para>
			<para>This operation lists all the SAN requests in the SAN retry list queue.</para>
			<note><para>This endpoint is accessible only by users with the <code>support</code> role in their Cloud Identity service catalog.</para></note>
		</wadl:doc>
	

			<request>
				<representation mediaType="application/json" >
					<doc>
						<xsdxt:code href="../wadl/samples/cdn-getSANRetryList_request-json-http.txt"/> 
					</doc>					
				</representation>
			</request>
			<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
				<doc title="Accepted" xml:lang="EN">The request has been accepted for processing.</doc>
				<representation mediaType="application/json">
					
					
						
						<wadl:doc xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN">
							<xsdxt:code href="../wadl/samples/cdn-getSANRetryList_response-json-http.txt"/>
							<xsdxt:code href="../wadl/samples/cdn-getSANRetryList_response.json"/>					
						</wadl:doc>
						
						
						
					<param name="project_id" style="plain" path="$.project_id">
						<wadl:doc xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN">Specifies the associated identifier for the user account, such as, 12345.</wadl:doc>
					</param>
					<param name="domain_name" style="plain" path="$.domain_name">
						<wadl:doc xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN">Specifies a string representing the domain, such as <code>test_san1.cnamecdn.com</code>.</wadl:doc>
					</param>
					<param name="flavor_id" style="plain" path="$.flavor_id">
						<wadl:doc xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN">Specifies the CDN-provider flavor id that is used.</wadl:doc>
					</param>				
					<param name="validate_service" style="plain" path="$.validate_service">
						<wadl:doc xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN">Indicates whether the domain is validated as belonging to an existing service. Valid values are <code>true</code> and <code>false</code>.</wadl:doc>
					</param>
				</representation>
			</response>		
		</method>
		
<!--Put a new SAN request onto the SAN retry list queue        -->
		
	<method name="PUT" id="putSANRetryList">
			<wadl:doc xml:lang="EN" title="Put a SAN request list into the retry list queue"
				xmlns="http://docbook.org/ns/docbook">
				<para role="shortdesc">Puts a new SAN request list into the SAN retry list queue.</para>
				<para>This operation puts a new SAN request list into the SAN retry list queue.</para>
				<note><para>This endpoint is accessible only by users with the <code>support</code> role in their Cloud Identity service catalog.</para></note>
			</wadl:doc>
			<request>
				<representation mediaType="application/json" >
					<doc>
						<xsdxt:code href="../wadl/samples/cdn-putSANRetryList_request-json-http.txt"/>
						<xsdxt:code href="../wadl/samples/cdn-putSANRetryList_request.json"/>  
					</doc>
					<param name="project_id" style="plain" path="$.project_id">
						<wadl:doc xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN">Specifies the associated identifier for the user account, such as, 12345.</wadl:doc>
					</param>
					<param name="domain_name" style="plain" path="$.domain_name">
						<wadl:doc xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN">Specifies a string representing the domain, such as <code>test_san1.cnamecdn.com</code>.</wadl:doc>
					</param>
					<param name="flavor_id" style="plain" path="$.flavor_id">
						<wadl:doc xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN">Specifies the CDN-provider flavor id that is used.</wadl:doc>
					</param>				
					<param name="validate_service" style="plain" path="$.validate_service">
						<wadl:doc xmlns="http://docbook.org/ns/docbook"
							xml:lang="EN">Indicates whether the domain is validated as belonging to an existing service. Valid values are <code>true</code> and <code>false</code>.</wadl:doc>
					</param>
				</representation>
			</request>
			<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
				<doc title="Accepted" xml:lang="EN">The request has been accepted for processing.</doc>
				<representation mediaType="application/json">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">
						<xsdxt:code href="../wadl/samples/cdn-putSANRetryList_response-json-http.txt"/> 
						<xsdxt:code href="../wadl/samples/cdn-putSANRetryList_response.json"/> 
					</wadl:doc>	
						<param name="queue" style="plain" path="$.queue">
							<wadl:doc xmlns="http://docbook.org/ns/docbook"
								xml:lang="EN">Indicates the retry list queue.</wadl:doc>
						</param>
						<param name="project_id" style="plain" path="$.queue.project_id">
							<wadl:doc xmlns="http://docbook.org/ns/docbook"
								xml:lang="EN">Specifies the associated identifier for the user account, such as, 12345.</wadl:doc>
						</param>
						<param name="domain_name" style="plain" path="$.queue.domain_name">
							<wadl:doc xmlns="http://docbook.org/ns/docbook"
								xml:lang="EN">Specifies a string representing the domain, such as <code>test_san1.cnamecdn.com</code>.</wadl:doc>
						</param>
						<param name="flavor_id" style="plain" path="$.queue.flavor_id">
							<wadl:doc xmlns="http://docbook.org/ns/docbook"
								xml:lang="EN">Specifies the CDN-provider flavor id that is used.</wadl:doc>
						</param>				
						<param name="deleted" style="plain" path="$.deleted">
							<wadl:doc xmlns="http://docbook.org/ns/docbook"
								xml:lang="EN">Specifies any requests that are deleted from the queue.</wadl:doc>
						</param>
					
				</representation>
			</response>		
		</method>
		
<!--Rerun all the SAN request on the SAN retry list queue        -->
		
	<method name="POST" id="postSANRetryList">
			<wadl:doc xml:lang="EN" title="Rerun all the SAN requests in the retry list queue"
				xmlns="http://docbook.org/ns/docbook">
				<para role="shortdesc">Reruns all of the SAN requests in the SAN retry list queue.</para>
				<para>This operation reruns all of the SAN requests in the SAN retry list queue.</para>
				<note><para>This endpoint is accessible only by users with the <code>support</code> role in their Cloud Identity service catalog.</para></note>
			</wadl:doc>
			<request>
				<representation mediaType="application/json" >
					<doc>
						<xsdxt:code href="../wadl/samples/cdn-postSANRetryList_request-json-http.txt"/> 
					</doc>					
				</representation>
			</request>
			<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
				<doc title="Accepted" xml:lang="EN">The request has been accepted for processing..</doc>
				<representation mediaType="application/json">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">
						<xsdxt:code href="../wadl/samples/cdn-postSANRetryList_response-json-http.txt"/>	 					
					</wadl:doc>
				</representation>
			</response>		
		</method>
	
	<!--*******************************************************-->
	<!--               Akamai Background                       -->
	<!--*******************************************************-->
	<method name="POST" id="postAkamaiBackground">
		<wadl:doc xml:lang="EN" title="Run Akamai-related background job"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Runs Akamai-related background job.</para>
			<para>This operation runs an Akamai-related background job.</para>
			<note><para>The following types of jobs are supported:
				<itemizedlist>
					<listitem><para>akamai_update_papi_property_for_mod_san</para></listitem>
					<listitem><para>akamai_check_and_update_cert_status</para></listitem>
				</itemizedlist>
				</para></note>
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-postAkamaiBackground_request-json-http.txt"/> 
					<xsdxt:code href="../wadl/samples/cdn-postAkamaiBackground_request.json"/>
				</doc>
				<param name="job_type" style="plain" required="true" path="$.job_type">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the type of job, such as <code>akamai_update_papi_property_for_mod_san</code>.</wadl:doc>
				</param>
			
				<param name="domain_name" style="plain" required="true" path="$.domain_name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a string representing the domain, such as <code>testabc.cnamecdn.com</code>.</wadl:doc>
				</param>
				<param name="san_cert_name" style="plain" required="true" path="$.san_cert_name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the SAN certificate name, such as <code>secure1.san1.altcdn.com</code>. </wadl:doc>
				</param>		
			</representation>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-postAkamaiBackground2_request-json-http.txt"/>  
					<xsdxt:code href="../wadl/samples/cdn-postAkamaiBackground2_request.json"/>
				</doc>
				<param name="job_type" style="plain" required="true" path="$.job_type">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the type of job, such as <code>akamai_update_papi_property_for_mod_san</code>.</wadl:doc>
				</param>
				
				<param name="domain_name" style="plain" required="true" path="$.domain_name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a string representing the domain, such as <code>testabc.cnamecdn.com</code>.</wadl:doc>
				</param>
				<param name="project_id" style="plain" required="true" path="$.project_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the <code>prodject_id</code> for the user. </wadl:doc>
				</param>
				<param name="cert_type" style="plain" required="true" path="$.cert_type">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the type of certificate. </wadl:doc>
				</param>	
				<param name="flavor_id" style="plain" required="true" path="$.flavor_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the the flavor ID. </wadl:doc>
				</param>	
			</representation>
		</request>
		<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Accepted" xml:lang="EN">The request has been accepted for processing.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code href="../wadl/samples/cdn-postAkamaiBackground_response-json-http.txt"/>
					
				</wadl:doc>
			</representation>
		</response>		
	</method>	
	

<!--*******************************************************-->
<!--              Base methods                             -->
<!--*******************************************************-->
	
<!--*******************************************************-->
<!--               Get health check                        -->
<!--*******************************************************-->
	<method name="GET" id="getHealthCheck">
		<wadl:doc xml:lang="EN" title="Retrieve health check"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves a health check.</para>
			<para>This operation retrieves a health check. </para>			
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getHealthCheck_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthCheck1_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthCheck1_response.json"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthCheck2_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthCheck2_response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="503" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Service Unavailable" xml:lang="EN">The service is temporarily unavailable (for example, for scheduled
				platform maintenance). Try again later.</doc>			
		</response>
	</method>
	
<!--*******************************************************-->
<!--               Get health details                      -->
<!--*******************************************************-->
	<method name="GET" id="getHealthDetails">
		<wadl:doc xml:lang="EN" title="Retrieve health details"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves the health details for a subsystem.</para>
			<para>This operation shows whether a subsystem is online or offline. </para>
					
		</wadl:doc>
		<request>
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getHealthDetails_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthDetails1_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthDetails1_response.json"
					/>
					<xsdxt:code
					href="../wadl/samples/cdn-getHealthDetails2_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-getHealthDetails2_response.json"
					/>
				</wadl:doc>
			</representation>
		</response>
		<response status="503" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Service Unavailable" xml:lang="EN">The service is temporarily unavailable (for example, for scheduled
				platform maintenance). Try again later.</doc>			
		</response>
	</method>
	
	
	<!--*******************************************************-->
	<!--              SSL certificate method                   -->
	<!--*******************************************************-->	
	<!--*******************************************************-->
	<!--               Post SSL certificate                    -->
	<!--*******************************************************-->
	<!-- Removed from Admin Guide and moved to external Dev Guide on 2/3 as requested by Tony Tan. -->
	<method name="POST" id="postSSLCertificate">
		<wadl:doc xml:lang="EN" title="Create an SSL certificate"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Creates an SSL certificate.</para>
			<para>This operation creates an SSL certificate. </para>						
		</wadl:doc>
		<request>			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-createSSLCertificate_request-json-http.txt"/>
					<xsdxt:code href="../wadl/samples/cdn-createSSLCerticate_request.json"/>
				
				</doc>
				<param name="cert_type" style="plain" required="true" path="$.cert_type">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a string representing the type of the SSL certificate.</wadl:doc>
				</param>
				<param name="domain_name" style="plain" required="true" path="$.domain_name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a string representing the type of the SSL certificate, such as <code>www.example.com</code>.</wadl:doc>
				</param>
				<param name="flavor_id" style="plain" required="true" path="$.flavor_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the CDN-provider flavor id to use. See <link
							xlink:href="https://developer.rackspace.com/docs/cdn/v1/developer-guide/#document-api-operations/cdn-flavors-operations">Flavors operations</link>.</wadl:doc>
				</param>
				<param name="project_id" style="plain" required="true" path="$.project_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the associated identifier for the user account, such as, 12345.</wadl:doc>
				</param>	
			</representation>
		</request>
		<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Accepted" xml:lang="EN">The request has been accepted for processing.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-createSSLCertificate_response-json-http.txt"
					/>
				</wadl:doc>
				
			</representation>
		</response>
	</method> 	
	
	<!--*******************************************************-->
	<!--               Get SSL certificate                     -->
	<!--*******************************************************-->
	<method name="GET" id="getSSLCertificate">
		<wadl:doc xml:lang="EN" title="Retrieve an SSL certificate"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Retrieves an SSL certificate.</para>
			<para>This operation retrieves an SSL certificate. </para>						
		</wadl:doc>
		<request>			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-getSSLCertificate_request-json-http.txt"/>					
				</doc>				
			</representation>
		</request>
		<response status="200" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="OK" xml:lang="EN">Success.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">													
					<xsdxt:code
						href="../wadl/samples/cdn-getSSLCertificate_response-json-http.txt" />
					<xsdxt:code
						href="../wadl/samples/cdn-getSSLCertificate_response.json"/>
					
				
				</wadl:doc>
				<param name="flavor_id" style="plain" path="$.flavor_id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the CDN-provider flavor id USED. See <link
							xlink:href="http://docs.rackspace.com/cdn/api/v1.0/cdn-devguide/content/flavorsOperations.html">Flavors</link>.</wadl:doc>
				</param>
				<param name="domain_name" style="plain" path="$.domain_name">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a string that represents the type of the SSL certificate, such as <code>www.example.com</code>.</wadl:doc>
				</param>
				<param name="cert_type" style="plain" path="$.cert_type">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies a string representing the type of the SSL certificate.</wadl:doc>
				</param>				
				<param name="cert_details" style="plain" path="$.cert_details">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Provides information about the certificate.</wadl:doc>
				</param>
				<param name="provider" style="plain" path="$.cert_details.provider">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the provider of the certificate.</wadl:doc>
				</param>
				<param name="cert_domain" style="plain" path="$.cert_details.provider.cert_domain">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the certificate domain.</wadl:doc>
				</param>
				<param name="extra_info" style="plain" path="$.cert_details.provider.cert_domain.extra_info">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Provides additional information about the certificate.</wadl:doc>
				</param>
				<param name="status" style="plain" path="$.cert_details.provider.cert_domain.extra_info.status">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Provides the status the certificate.</wadl:doc>
				</param>
				<param name="san_cert" style="plain" path="$.cert_details.provider.cert_domain.extra_info.san_cert">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Provides SAN certification information.</wadl:doc>
				</param>
				<param name="action" style="plain" path="$.cert_details.provider.cert_domain.extra_info.action">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Provides information about any action for the certificate.</wadl:doc>
				</param>
				<param name="status" style="plain" path="$.status">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Provides status information for the certificate.</wadl:doc>
				</param>
			</representation>
		</response>
	</method>

	<!--*******************************************************-->
	<!--               Delete SSL certificate                  -->
	<!--  Moved to Dev Guide (rst format) and published 1/13/2016 -->
	<!--*******************************************************-->
<!--	<method name="DELETE" id="deleteSSLCertificate">
		<wadl:doc xml:lang="EN" title="Deletes an SSL certificate"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Deletes an SSL certificate.</para>
			<para>This operation deletes an SSL certificate. </para>						
		</wadl:doc>
		<request>			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-deleteSSLCertificate_request-json-http.txt"/>	 				
				</doc>
				<wadl:doc xml:lang="EN" title="Deletes an SSL certificate"
					xmlns="http://docbook.org/ns/docbook">
                <para>This operation does not require a request body.</para>
				</wadl:doc>	
			</representation>
		</request>
		<response status="202" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Accepted" xml:lang="EN">The request has been accepted for processing.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-deleteSSLCertificate_response-json-http.txt"
					/>
				</wadl:doc>
				
			</representation>
		</response>
	</method>	
-->	

<!--*******************************************************-->
<!--              Flavors methods                          -->
<!--*******************************************************-->	

<!--*******************************************************-->
<!--               Create flavors                          -->
<!--*******************************************************-->	
	<method name="POST" id="postFlavors">
		<wadl:doc xml:lang="EN" title="Create flavors"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Creates flavors.</para>
			<para>This operation creates flavors.</para>			
			
		</wadl:doc>
		<request>
			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-postFlavors_request-json-http.txt"/>
					<xsdxt:code	href="../wadl/samples/cdn-postFlavors_request.json"/>
				</doc>
				<param name="id" style="plain" path="$.id"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the flavor. The name must not exceed 64 bytes in length and is limited to unicode, digits, underscores, and hyphens.</wadl:doc>
				</param> 
				<!--
				<param name="limits" style="plain" path="$.limits"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the list of limits to apply to origins, domains, and caching configurations to services using this flavor class.</wadl:doc>
				</param> 
				<param name="origins" style="plain" path="$.limits.origins"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the minimum and maximum count limits to apply to the list of origins. The minimum defaults to 1.</wadl:doc>
				</param>
				<param name="domains" style="plain" path="$.limits.domains"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the minimum and maximum count limits to apply to the list of domains. The minimum defaults to 1.</wadl:doc>
				</param>
				<param name="caching" style="plain" path="$.limits.caching"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the minimum and maximum minute limits to apply to the list of caching TTLs. An <code>incr</code> can be specified to enforce the TTL to be a factor of. <code>Incr</code> defaults to 1. </wadl:doc>
				</param> -->
				<param name="providers" style="plain" path="$.providers"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the list of providers mapped to this flavor class.</wadl:doc>
				</param>
				<param name="provider" style="plain" path="$.providers.provider"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the provider. The name must not exceed 64 bytes in length and is limited to unicode, digits, underscores, and hyphens.</wadl:doc>
				</param>
				<param name="links" style="plain" path="$.providers.links"
					required="true">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifices a list with a <code>href</code> where <code>rel</code> is <code>provider_url</code>. Rackspace CDN ignores all entries in the list except the <code>provider_url</code>.</wadl:doc>
				</param>
				
			</representation>
		</request>
		<response status="201" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Created" xml:lang="EN">Following a POST command, this status indicates success. The request has been fulfilled and resulted in a new resource being created.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-postFlavors_response-json-http.txt"
					/>
					<xsdxt:code
						href="../wadl/samples/cdn-postFlavors_response.json"
					/>
				</wadl:doc>
				<param name="id" style="plain" path="$.id">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the flavor. The name must not exceed 64 bytes in length and is limited to unicode, digits, underscores, and hyphens.</wadl:doc>
				</param>
				<param name="providers" style="plain" path="$.providers">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the list of providers mapped to this flavor class.</wadl:doc>
				</param>
				<param name="provider" style="plain" path="$.providers.provider">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifies the name of the provider. The name must not exceed 64 bytes in length and is limited to unicode, digits, underscores, and hyphens.</wadl:doc>
				</param>
				<param name="links" style="plain" path="$.providers.links">
					<wadl:doc xmlns="http://docbook.org/ns/docbook"
						xml:lang="EN">Specifices a list with a <code>href</code> where <code>rel</code> is <code>provider_url</code>. Rackspace CDN ignores all entries in the list except the <code>provider_url</code>.</wadl:doc>
				</param>
			</representation>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Provider ID is greater than 64 bytes.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Missing provider ID.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Providers list is empty.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Providers name is greater than 64 bytes.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Providers ['links'] list is empty.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid url format in href.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Missing provider-url entry.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Missing rel parameter.</doc>
		</response>
		<response status="400" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="Bad Request" xml:lang="EN">Invalid json.</doc>
		</response>
	</method>

<!--*******************************************************-->
<!--               Delete flavor                           -->
<!--*******************************************************-->	
	<method name="DELETE" id="deleteFlavor">
		<wadl:doc xml:lang="EN" title="Delete flavor"
			xmlns="http://docbook.org/ns/docbook">
			<para role="shortdesc">Deletes the flavor specified by flavor_id.</para>
			<para>This operation deletes the flavor specified by flavor_id.</para>			
			
		</wadl:doc>
		<request>
			
			<representation mediaType="application/json" >
				<doc>
					<xsdxt:code href="../wadl/samples/cdn-deleteFlavor_request-json-http.txt"/>
				</doc>
			</representation>
		</request>
		<response status="204" xmlns="http://wadl.dev.java.net/2009/02">
			<doc title="No Content" xml:lang="EN">The server successfully processed the request, but is not returning any content.</doc>
			<representation mediaType="application/json">
				<wadl:doc xmlns="http://docbook.org/ns/docbook"
					xml:lang="EN">
					<xsdxt:code
						href="../wadl/samples/cdn-deleteFlavor_response-json-http.txt"
					/>

				</wadl:doc>
			</representation>
		</response>
	</method>
	
</application>
